html{
  box-sizing: border-box;
}
    body {
      background-image: url("./Bgchatbot.jpg");
    }
    .mainwindow {
      background-color: rgb(169, 215, 245);
      width: 300px;
      height: 90vh;
      
      margin: auto;
      margin-top: 0px;
      border-radius: 20px;
      box-shadow: 5px 5px 5px rgb(35, 36, 36);
      position: relative;
      overflow-y: scroll;
      display: flex;
      justify-content: center;
      padding: 0px 10px 0px;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    .footer {
      background-color: rgb(241, 241, 241);
      height: 80px;
      width: 300px;
      position: fixed;
      bottom: 5px;
      border-radius: 0px 0px 20px 20px;
      padding: 0px 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
    }
    header {
      background-color: rgb(241, 241, 241);
      height: 100px;
      width: 320px;
      position: fixed;
       align-items: center;
      
      border-radius: 20px 20px 0px 0px;
      z-index: 1;
      padding-bottom: 8px;
    }
    .notification{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        position: relative;
        left: 0px;
        height: 6vh;
        width: 300px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(252, 252, 252);
        
        
    }
    .icons{
        display: flex;
    }
    img{
        border-radius: 50px;
        padding-left: 5px;
        margin-top: 5px;
        
    }
    .person{
        margin-top: 5px;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 20px;
        width: 200px;
        gap: 5px;
        
       
    }
    .align{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 90px;
    }
    .voice{
        width: 3px;
    }
    .riya{
        display: flex;
        gap: 10px;
    }
    input{
        width: 180px;
        border-radius: 40px;
        height: 30px;
        opacity: 0.6;
    }
    .plus{
        padding-right: 5px;
        padding-left: 0px;
    }
    .common2{
        position: absolute;
        top: 20vh;
        background-color: rgb(62, 154, 235);
        border-radius: 10px;
        padding:6px 5px 5px 8px;
        min-height: 3vh;
        max-height: 10vh;
        min-width: 100px;
        max-width: 200px;
        right: 10px;
    }
    .common{
        min-height: 3vh;
        max-height: 9vh;
        background-color: rgb(62, 154, 235);
        position: absolute;
        border-radius: 10px;
        padding:6px 5px 5px 8px;
        top: 20vh;
        left: 10px;
        min-width: 100px;
        max-width: 230px;

    } 
 .msg{
      top: 22vh;
    }
    .msg2{
        top: 28vh;
        
    }
    .msg3{
        top: 38vh;
        
    }
    .msg4{
        top: 46vh;
    }
    .msg5{
        top: 56vh;
        margin-top: 10px;
    }
    .msg6{
        top: 67vh;
    }
    .msg7{
        top: 78vh;
    }
    .msg8{
        top: 83vh;
    }
    .msg9{
      top: 95vh;
  }

    .date{
        position: absolute;
        top: 110px;
        font-size: smaller;
    }
.watermark{
    position: fixed;
    top: 40vh;
    opacity: 0.5;
    
}
 
